@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutLander.cshtml";
}


            <div class="row align-items-center h-100 ">
                <div class="col-12 col-md-6 col-lg-5 order-last order-md-first">
                    <div class="ms-4">
                        <h1 class="heroTitle">All your <span class="texthighlight">connections</span> in
                            one place</h1>
                        <div class="subtitle">
                            Know your social circles. Experience the power of <span><img src="/img/SixDegreesName3.png" height="65" /></span><br><br><strong>Built with pride using:</strong>
                            <br><i class="devicon-dot-net-plain-wordmark colored icon"></i>
                            <i class="devicon-csharp-plain-wordmark colored icon"></i>
                            <i class="devicon-postgresql-plain-wordmark colored icon"></i>
                            <i class="devicon-bootstrap-plain-wordmark colored icon"></i>
                            @*<i class="devicon-azure-plain colored icon"></i>*@
                            <img src="img/Railway.png" class="railway" height="50" />
                        </div>
@*                        <div class="text-start mt-5">
                            <a class="btn btn-lg btn-primary rounded-pill w-25">DEMO</a>
                        </div>*@
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-7 text-center">
                    <img src="/img/SixDegreesHero.png" class="img-fluid">
                </div>
            </div>


@*<div class="text-center">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
